* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #151515;
  text-decoration: none; }

a:hover {
  color : #000000;
  transition : border-color 0.5s; 
  
  }

#nav {
  padding : 0;
  margin : 0;
  text-align : center;
}

#nav li {
  display : inline;
}

#nav a {
  display : inline-block;
  margin : 5px 30px;
  border-color : #FFFFFF;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  transition: color 0.2s, background-color 0.5s, border-color 0.5s;
}
#nav a:hover{
	border-color : #000000;
	color : #000000;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; 
}


.btn + .btn {
    margin-left: 1rem; 
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }
